      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            id="firstName"
            name="firstName"
            type="text"
            required
            autocomplete="given-name"
            value="<%= typeof firstName !== 'undefined' ? firstName : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            id="lastName"
            name="lastName"
            type="text"
            required
            autocomplete="family-name"
            value="<%= typeof lastName !== 'undefined' ? lastName : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            required
            autocomplete="email"
            value="<%= typeof email !== 'undefined' ? email : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            id="phone"
            name="phone"
            type="tel"
            required
            autocomplete="tel"
            value="<%= typeof phone !== 'undefined' ? phone : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input
            id="dob"
            name="dob"
            type="date"
            required
            value="<%= typeof dob !== 'undefined' ? dob : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input
            id="city"
            name="city"
            type="text"
            required
            autocomplete="address-level2"
            value="<%= typeof city !== 'undefined' ? city : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="state">State</label>
          <input
            id="state"
            name="state"
            type="text"
            required
            autocomplete="address-level1"
            value="<%= typeof state !== 'undefined' ? state : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="zipcode">Zip Code</label>
          <input
            id="zipcode"
            name="zipcode"
            type="number"
            required
            autocomplete="postal-code"
            value="<%= typeof zipcode !== 'undefined' ? zipcode : '' %>"
          />
        </div>

        <button type="submit" class="btn">Sign Up</button>
        <a href="/login" class="btn btn-secondary" style="margin-left:10px;">Back to Login</a>
      </form>
